.driver-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  padding: 30px;
  background-color: blueviolet;
  border-radius: 20px;

}

.driver-image-wrapper{
  width: 200px; /* Tamaño deseado del cuadrado */
  height: 200px;
  border-radius: 50%;
  overflow:hidden; /* Recorta el exceso de la imagen */
  display: flex;
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; 
}

.driver-image {
  max-width: 200%;
  max-height: 200%;
  display: block; /* Elimina el espacio extra debajo de la imagen */
  object-fit: cover;
}

.driver-info{
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: whitesmoke;
}