.box-color{
  border: 2px solid black;
  width: 300px;
  height: 100px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

}

.box-color p{
  margin: 4px;
  padding: 0;
}